snippet cao "lol" i
\c\{c\}\~ao${0}
endsnippet 

snippet cir "circunflexo" i
\^${0}
endsnippet


snippet aao "ao" i
\~ao${0}
endsnippet

snippet til "til" i
\~${0}
endsnippet

snippet cr "cr" i 
\`${0}
endsnippet

snippet ac "ac" i
\'${0}
endsnippet

snippet ced "cedilha" i
\c\{c\}${0}
endsnippet

snippet C "cedilha maiusculo" i
\c\{C\}${0}
endsnippet

